.wrapper_bar{
    width: 100%;
    grid-area:wrapper_bar;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding:20px;

}

.wrapper_legend{

    width: 100%;
    display: flex;
    justify-content: space-between;

    h1{
        color: #20253A;
    }

}
.legend_bar{
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    color: #9B9EAC;
    li{
        display: flex;
        align-items: center;
        div{
            margin-right: 10px;
        }
    }
}
.cercle-black { 
    height: 10px; 
    width: 10px; 
    background-color: black;
    border: 5px solid black;
    border-radius: 50%; 
} 

.cercle-red { 
    height: 10px; 
    width: 10px; 
    background-color: red;
    border: 5px solid red;
    border-radius: 50%; 
} 
.custom-tooltip{
    padding: 10px;
    background-color: #E60000;
    color: white;
    font-weight: 500;
    .label{
        text-align: center;
        padding:10px
    }
}