

.My_home{

  display: grid;
  grid-template-areas:
    "wrapper_header wrapper_header wrapper_header wrapper_header wrapper_header"
    "wrapper_nav-v header_profile header_profile header_profile header_profile"
    "wrapper_nav-v wrapper_bar wrapper_bar wrapper_bar wrapper_indi"
    "wrapper_nav-v wrapper_graph wrapper_radar wrapper_circle wrapper_indi"
    "wrapper_nav-v footer footer footer footer";




    footer{

      grid-area:footer;
      height: 5.375rem;


    }
.wrapper_header{
  box-shadow: 5px 13px 6px -6px rgba(0,0,0,0.53);
  -webkit-box-shadow: 5px 13px 6px -6px rgba(0,0,0,0.53);
  -moz-box-shadow: 5px 13px 6px -6px rgba(0,0,0,0.53);

  grid-area:wrapper_header;

  width: 100%;
}
  .wrapper_nav-v{
    grid-area:wrapper_nav-v;
    background-color: black;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width:7.3125rem;
    margin-right:6.875rem;
    

    
        .nav-v{
            display: flex;
            flex-direction: column;
            background-color: black;
            width:max-content;
            justify-content: space-around;
            img{
                margin:20px;
                width: 4rem;
                height: 4rem;
            }
        }
        .copright{
            writing-mode:sideways-lr;
            color: white;
            }
    }
  .header_profile{
    width: 100%;
    grid-area:header_profile;
    margin-top: 4.25rem;
    margin-bottom: 4.8125rem;
    p{
      font-size: 18px;
    }

    .wrapper_welcome{
      display: flex;
      font-size: 48px;
      margin-bottom:2.5625rem ;

      .firstname{
        color:red;
        padding-left: 20px;
      }

    }
  }

  .wrapper_indi{
    grid-area:wrapper_indi;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5.625rem;
    margin-left: 1.9375rem;
  }

}