.My_home{

  color:black;
  width: 100%;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  height: max-content;

  .header_profile{
    border-style: solid;
    width: 100%;
    .wrapper_welcome{

      display: flex;

      .firstname{

        

      }

    }
  }
  .wrapper_chart{
    border-style: solid;
    width: 80%;
  }
  .wrapper_indi{
  }

}