.wrapper_graph{
background-color: #FF0000;
border-radius: 10px;
margin: 0;
padding:0;
width: 33%;
height: 50%;
border-color: black;
.title_line{

font-size: 15px;
color: #FFFFFF;
word-wrap: normal;
width: 30%;
position: relative;
top:20px;
left:20px;
opacity: 40%;
}
}
.custom-tooltip-line{


    background-color: #FFFFFF;
    padding: 7px;
}