.header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: black;
height: 90px;
nav{
    display: flex;
    width: 100%;
    height: 100%;


    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        
    }
    a{
        text-decoration: none;
        color:  white;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
    }

    }
}
.wrapper{

    height: 100vh;

}